@media screen and (min-width: 1800px) {
	.flro-m1 {
		display: flex;
		flex-direction: row;
	}

	.flco-m1 {
		display: flex;
		flex-direction: column;
	}

	.flrr-m1 {
		display: flex;
		flex-direction: row;
	}

	.flcr-m1 {
		display: flex;
		flex-direction: column;
	}

	.flro.xce-m1,
	.flrr.xce-m1,
	.flco.yce-m1,
	.flcr.yce-m1 {
		justify-content: center;
	}

	.flro.xle-m1,
	.flrr.xle-m1,
	.flco.yto-m1,
	.flcr.yto-m1 {
		justify-content: flex-start;
	}

	.flro.xri-m1,
	.flrr.xri-m1,
	.flco.ybo-m1,
	.flcr.ybo-m1 {
		justify-content: flex-end;
	}

	.flro.xbe-m1,
	.flrr.xbe-m1,
	.flco.ybe-m1,
	.flcr.ybe-m1 {
		justify-content: space-between;
	}

	.flro.xar-m1,
	.flrr.xar-m1,
	.flco.yar-m1,
	.flcr.yar-m1 {
		justify-content: space-around;
	}

	.flro.xev-m1,
	.flrr.xev-m1,
	.flco.yev-m1,
	.flcr.yev-m1 {
		justify-content: space-evenly;
	}

	.flro.xst-m1,
	.flrr.xst-m1,
	.flco.yst-m1,
	.flcr.yst-m1 {
		justify-content: stretch;
	}

	.flro.yce-m1,
	.flrr.yce-m1,
	.flco.xce-m1,
	.flcr.xce-m1 {
		align-items: center;
	}

	.flro.yto-m1,
	.flrr.yto-m1,
	.flco.xle-m1,
	.flcr.xle-m1 {
		align-items: flex-start;
	}

	.flro.ybo-m1,
	.flrr.ybo-m1,
	.flco.xri-m1,
	.flcr.xri-m1 {
		align-items: flex-end;
	}

	.flro.yst-m1,
	.flrr.yst-m1,
	.flco.xst-m1,
	.flcr.xst-m1 {
		align-items: stretch;
	}

	.flro.yba-m1,
	.flrr.yba-m1,
	.flco.xba-m1,
	.flcr.xba-m1 {
		align-items: baseline;
	}

	.flro.xyce-m1,
	.flrr.xyce-m1,
	.flco.xyce-m1,
	.flcr.xyce-m1 {
		justify-content: center;
		align-items: center;
	}

	.flro.wrap-m1,
	.flrr.wrap-m1,
	.flco.wrap-m1,
	.flcr.wrap-m1 {
		flex-wrap: wrap !important;
	}

	.flro.nowrap-m1,
	.flrr.nowrap-m1,
	.flco.nowrap-m1,
	.flcr.nowrap-m1 {
		flex-wrap: nowrap !important;
	}

	.flro.wrap-reverse-m1,
	.flrr.wrap-reverse-m1,
	.flco.wrap-reverse-m1,
	.flcr.wrap-reverse-m1 {
		flex-wrap: wrap-reverse !important;
	}

	.flex--1-m1 {
		flex: 1;
	}

	.flex--2-m1 {
		flex: 2;
	}

	.flex--3-m1 {
		flex: 3;
	}

	.flex--4-m1 {
		flex: 4;
	}

	.layout-abs-tl-m1 {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media screen and (max-width: 1799px) {
	.flro-m2 {
		display: flex;
		flex-direction: row;
	}

	.flco-m2 {
		display: flex;
		flex-direction: column;
	}

	.flrr-m2 {
		display: flex;
		flex-direction: row;
	}

	.flcr-m2 {
		display: flex;
		flex-direction: column;
	}

	.flro.xce-m2,
	.flrr.xce-m2,
	.flco.yce-m2,
	.flcr.yce-m2 {
		justify-content: center;
	}

	.flro.xle-m2,
	.flrr.xle-m2,
	.flco.yto-m2,
	.flcr.yto-m2 {
		justify-content: flex-start;
	}

	.flro.xri-m2,
	.flrr.xri-m2,
	.flco.ybo-m2,
	.flcr.ybo-m2 {
		justify-content: flex-end;
	}

	.flro.xbe-m2,
	.flrr.xbe-m2,
	.flco.ybe-m2,
	.flcr.ybe-m2 {
		justify-content: space-between;
	}

	.flro.xar-m2,
	.flrr.xar-m2,
	.flco.yar-m2,
	.flcr.yar-m2 {
		justify-content: space-around;
	}

	.flro.xev-m2,
	.flrr.xev-m2,
	.flco.yev-m2,
	.flcr.yev-m2 {
		justify-content: space-evenly;
	}

	.flro.xst-m2,
	.flrr.xst-m2,
	.flco.yst-m2,
	.flcr.yst-m2 {
		justify-content: stretch;
	}

	.flro.yce-m2,
	.flrr.yce-m2,
	.flco.xce-m2,
	.flcr.xce-m2 {
		align-items: center;
	}

	.flro.yto-m2,
	.flrr.yto-m2,
	.flco.xle-m2,
	.flcr.xle-m2 {
		align-items: flex-start;
	}

	.flro.ybo-m2,
	.flrr.ybo-m2,
	.flco.xri-m2,
	.flcr.xri-m2 {
		align-items: flex-end;
	}

	.flro.yst-m2,
	.flrr.yst-m2,
	.flco.xst-m2,
	.flcr.xst-m2 {
		align-items: stretch;
	}

	.flro.yba-m2,
	.flrr.yba-m2,
	.flco.xba-m2,
	.flcr.xba-m2 {
		align-items: baseline;
	}

	.flro.xyce-m2,
	.flrr.xyce-m2,
	.flco.xyce-m2,
	.flcr.xyce-m2 {
		justify-content: center;
		align-items: center;
	}

	.flro.wrap-m2,
	.flrr.wrap-m2,
	.flco.wrap-m2,
	.flcr.wrap-m2 {
		flex-wrap: wrap !important;
	}

	.flro.nowrap-m2,
	.flrr.nowrap-m2,
	.flco.nowrap-m2,
	.flcr.nowrap-m2 {
		flex-wrap: nowrap !important;
	}

	.flro.wrap-reverse-m2,
	.flrr.wrap-reverse-m2,
	.flco.wrap-reverse-m2,
	.flcr.wrap-reverse-m2 {
		flex-wrap: wrap-reverse !important;
	}

	.flex--1-m2 {
		flex: 1;
	}

	.flex--2-m2 {
		flex: 2;
	}

	.flex--3-m2 {
		flex: 3;
	}

	.flex--4-m2 {
		flex: 4;
	}

	.layout-abs-tl-m2 {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media screen and (max-width: 1199px) {
	.flro-m3 {
		display: flex;
		flex-direction: row;
	}

	.flco-m3 {
		display: flex;
		flex-direction: column;
	}

	.flrr-m3 {
		display: flex;
		flex-direction: row;
	}

	.flcr-m3 {
		display: flex;
		flex-direction: column;
	}

	.flro.xce-m3,
	.flrr.xce-m3,
	.flco.yce-m3,
	.flcr.yce-m3 {
		justify-content: center;
	}

	.flro.xle-m3,
	.flrr.xle-m3,
	.flco.yto-m3,
	.flcr.yto-m3 {
		justify-content: flex-start;
	}

	.flro.xri-m3,
	.flrr.xri-m3,
	.flco.ybo-m3,
	.flcr.ybo-m3 {
		justify-content: flex-end;
	}

	.flro.xbe-m3,
	.flrr.xbe-m3,
	.flco.ybe-m3,
	.flcr.ybe-m3 {
		justify-content: space-between;
	}

	.flro.xar-m3,
	.flrr.xar-m3,
	.flco.yar-m3,
	.flcr.yar-m3 {
		justify-content: space-around;
	}

	.flro.xev-m3,
	.flrr.xev-m3,
	.flco.yev-m3,
	.flcr.yev-m3 {
		justify-content: space-evenly;
	}

	.flro.xst-m3,
	.flrr.xst-m3,
	.flco.yst-m3,
	.flcr.yst-m3 {
		justify-content: stretch;
	}

	.flro.yce-m3,
	.flrr.yce-m3,
	.flco.xce-m3,
	.flcr.xce-m3 {
		align-items: center;
	}

	.flro.yto-m3,
	.flrr.yto-m3,
	.flco.xle-m3,
	.flcr.xle-m3 {
		align-items: flex-start;
	}

	.flro.ybo-m3,
	.flrr.ybo-m3,
	.flco.xri-m3,
	.flcr.xri-m3 {
		align-items: flex-end;
	}

	.flro.yst-m3,
	.flrr.yst-m3,
	.flco.xst-m3,
	.flcr.xst-m3 {
		align-items: stretch;
	}

	.flro.yba-m3,
	.flrr.yba-m3,
	.flco.xba-m3,
	.flcr.xba-m3 {
		align-items: baseline;
	}

	.flro.xyce-m3,
	.flrr.xyce-m3,
	.flco.xyce-m3,
	.flcr.xyce-m3 {
		justify-content: center;
		align-items: center;
	}

	.flro.wrap-m3,
	.flrr.wrap-m3,
	.flco.wrap-m3,
	.flcr.wrap-m3 {
		flex-wrap: wrap !important;
	}

	.flro.nowrap-m3,
	.flrr.nowrap-m3,
	.flco.nowrap-m3,
	.flcr.nowrap-m3 {
		flex-wrap: nowrap !important;
	}

	.flro.wrap-reverse-m3,
	.flrr.wrap-reverse-m3,
	.flco.wrap-reverse-m3,
	.flcr.wrap-reverse-m3 {
		flex-wrap: wrap-reverse !important;
	}

	.flex--1-m3 {
		flex: 1;
	}

	.flex--2-m3 {
		flex: 2;
	}

	.flex--3-m3 {
		flex: 3;
	}

	.flex--4-m3 {
		flex: 4;
	}

	.layout-abs-tl-m3 {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media screen and (max-width: 899px) {
	.flro-m4 {
		display: flex;
		flex-direction: row;
	}

	.flco-m4 {
		display: flex;
		flex-direction: column;
	}

	.flrr-m4 {
		display: flex;
		flex-direction: row;
	}

	.flcr-m4 {
		display: flex;
		flex-direction: column;
	}

	.flro.xce-m4,
	.flrr.xce-m4,
	.flco.yce-m4,
	.flcr.yce-m4 {
		justify-content: center;
	}

	.flro.xle-m4,
	.flrr.xle-m4,
	.flco.yto-m4,
	.flcr.yto-m4 {
		justify-content: flex-start;
	}

	.flro.xri-m4,
	.flrr.xri-m4,
	.flco.ybo-m4,
	.flcr.ybo-m4 {
		justify-content: flex-end;
	}

	.flro.xbe-m4,
	.flrr.xbe-m4,
	.flco.ybe-m4,
	.flcr.ybe-m4 {
		justify-content: space-between;
	}

	.flro.xar-m4,
	.flrr.xar-m4,
	.flco.yar-m4,
	.flcr.yar-m4 {
		justify-content: space-around;
	}

	.flro.xev-m4,
	.flrr.xev-m4,
	.flco.yev-m4,
	.flcr.yev-m4 {
		justify-content: space-evenly;
	}

	.flro.xst-m4,
	.flrr.xst-m4,
	.flco.yst-m4,
	.flcr.yst-m4 {
		justify-content: stretch;
	}

	.flro.yce-m4,
	.flrr.yce-m4,
	.flco.xce-m4,
	.flcr.xce-m4 {
		align-items: center;
	}

	.flro.yto-m4,
	.flrr.yto-m4,
	.flco.xle-m4,
	.flcr.xle-m4 {
		align-items: flex-start;
	}

	.flro.ybo-m4,
	.flrr.ybo-m4,
	.flco.xri-m4,
	.flcr.xri-m4 {
		align-items: flex-end;
	}

	.flro.yst-m4,
	.flrr.yst-m4,
	.flco.xst-m4,
	.flcr.xst-m4 {
		align-items: stretch;
	}

	.flro.yba-m4,
	.flrr.yba-m4,
	.flco.xba-m4,
	.flcr.xba-m4 {
		align-items: baseline;
	}

	.flro.xyce-m4,
	.flrr.xyce-m4,
	.flco.xyce-m4,
	.flcr.xyce-m4 {
		justify-content: center;
		align-items: center;
	}

	.flro.wrap-m4,
	.flrr.wrap-m4,
	.flco.wrap-m4,
	.flcr.wrap-m4 {
		flex-wrap: wrap !important;
	}

	.flro.nowrap-m4,
	.flrr.nowrap-m4,
	.flco.nowrap-m4,
	.flcr.nowrap-m4 {
		flex-wrap: nowrap !important;
	}

	.flro.wrap-reverse-m4,
	.flrr.wrap-reverse-m4,
	.flco.wrap-reverse-m4,
	.flcr.wrap-reverse-m4 {
		flex-wrap: wrap-reverse !important;
	}

	.flex--1-m4 {
		flex: 1;
	}

	.flex--2-m4 {
		flex: 2;
	}

	.flex--3-m4 {
		flex: 3;
	}

	.flex--4-m4 {
		flex: 4;
	}

	.layout-abs-tl-m4 {
		position: absolute;
		top: 0;
		left: 0;
	}
}
